<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<body>

<div id="listTableDiv" th:fragment="usertable (users)">
<h2>회원 목록</h2>
<div class="control-bar"><div></div>
<select id="pageLimitSelect" onchange="TableManager.updateLimitSize(this.value)" >
  <option value="0" selected="selected" disabled="disabled">=== 정렬 개수 선택 ===</option>
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="50">50</option>
  <option value="100">100</option>
</select>
</div>
<table border="1">
    <thead><th onclick="TableManager.updateSort(0)">회원 번호</th><th onclick="TableManager.updateSort(1)">이름</th>
    	<th onclick="TableManager.updateSort(2)">이메일</th><th onclick="TableManager.updateSort(3)">가입일</th>
    	<th onclick="TableManager.updateSort(4)">마지막 접속일</th><th onclick="TableManager.updateSort(5)">등급</th>
    	<th>등급 변경</th><th>삭제</th></thead>
    <tbody th:fragment="usertbody (users)">
     <tr th:each="item: ${users}">
     	<td th:text="${item.id}"></td>
     	<td th:text="${item.nickName}"></td>
     	<td th:text="${item.email}"></td>
     	<td th:text="${#temporals.format(item.regDate, 'yy-MM-dd HH:mm:ss')}"></td>
     	<td th:text="${#temporals.format(item.lastAccessDate, 'yy-MM-dd HH:mm:ss')}"></td>
     	<td th:text="${item.userGrade}"></td>
       	<td>
       		<form class="update-grade" action="/admin/users/updateGrade" method="post">
       			<input type="hidden" name="id" th:value="${item.id}" />
       			<input type="hidden" name="newGrade" />
       			<input type="hidden" name="params"/>
	        	<button type="button" class="update-button">등급 변경</button>
       		</form>
       	</td>
       	<td>
       		<form class="delete-form" action="/admin/users/delete" method="post">
       			<input type="hidden" name="id" th:value="${item.id}" />
			    <input type="hidden" name="params"/>
	        	<button type="button" class="delete-button">삭제</button>
       		</form>
       	</td>
     </tr>
	<tr style="display:none;"><td><input id="totalPageCount" th:value="${totalPageCount}" hidden="hidden"></td></tr>
    </tbody>
</table>
</div>

<div id="listTableDiv" th:fragment="boardtable (boards)">
<h2>게시판 목록</h2>
<div class="control-bar">
<form id="insertBoard" method="post" action="/admin/boards/create">
	<input type="text" id="boardName" placeholder="신규 게시판 이름 입력" />
	<button type="button" onclick="TableManager.createBoard()">생성 완료</button>
</form>
<select id="pageLimitSelect" onchange="TableManager.updateLimitSize(this.value)" >
  <option value="0" selected="selected" disabled="disabled">=== 정렬 개수 선택 ===</option>
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="50">50</option>
  <option value="100">100</option>
</select>
</div>
<table border="1">
    <thead>
    	<th onclick="TableManager.updateSort(0)">게시판 번호</th><th onclick="TableManager.updateSort(1)">게시판 이름</th>
    	<th onclick="TableManager.updateSort(2)">개설일</th><th onclick="TableManager.updateSort(3)">수정일</th>
    	<th>삭제</th></thead>
    <tbody th:fragment="boardtbody (boards)">
	    <tr th:each="item: ${boards}">
	    	<td th:text="${item.id}"></td>
	    	<td th:text="${item.name}"></td>
	    	<td th:text="${#temporals.format(item.create_date, 'yy-MM-dd HH:mm:ss')}"></td>
	    	<td th:text="${#temporals.format(item.last_modified_date, 'yy-MM-dd HH:mm:ss')}"></td>
	       	<td>
	       		<form class="delete-form" action="/admin/boards/delete" method="post">
	       			<input type="hidden" name="id" th:value="${item.id}" />
			        <input type="hidden" name="params"/>
		        	<button type="button" class="delete-button">삭제</button>
	       		</form>
	       	</td>
	    </tr>
	<tr style="display:none;"><td><input id="totalPageCount" th:value="${totalPageCount}" hidden="hidden"></td></tr>
    </tbody>
</table>
</div>

<div id="listTableDiv" th:fragment="notetable (notes)">
<h2>게시글 목록</h2>
<div class="control-bar"><div></div>
<select id="pageLimitSelect" onchange="TableManager.updateLimitSize(this.value)" >
  <option value="0" selected="selected" disabled="disabled">=== 정렬 개수 선택 ===</option>
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="50">50</option>
  <option value="100">100</option>
</select>
</div>
<table border="1">
    <thead><th onclick="TableManager.updateSort(0)">게시글 번호</th><th onclick="TableManager.updateSort(1)">제목</th>
    	<th onclick="TableManager.updateSort(2)">내용</th><th onclick="TableManager.updateSort(3)">작성일</th>
    	<th onclick="TableManager.updateSort(4)">수정일</th><th onclick="TableManager.updateSort(5)">게시판 번호</th>
    	<th onclick="TableManager.updateSort(6)">작성자 번호</th>
    	<th>삭제</th></thead>
    <tbody th:fragment="notetbody (notes)">
	    <tr th:each="item: ${notes}">
	    	<td><a th:href="@{/note/read(id=${item.id})}" th:text="${item.id}"></a></td>
	    	<td th:text="${item.title}"></td>
	    	<td th:text="${item.content}"></td>
	    	<td th:text="${#temporals.format(item.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
	    	<td th:text="${#temporals.format(item.lastModifiedDate, 'yy-MM-dd HH:mm:ss')}"></td>
	    	<td th:text="${item.boardId}"></td>
	    	<td th:text="${item.userId}"></td>
	       	<td>
	       		<form class="delete-form" action="/admin/notes/delete" method="post">
	       			<input type="hidden" name="id" th:value="${item.id}" />
			        <input type="hidden" name="params"/>
		        	<button type="button" class="delete-button">삭제</button>
	       		</form>
	       	</td>
	    </tr>
	<tr style="display:none;"><td><input id="totalPageCount" th:value="${totalPageCount}" hidden="hidden"></td></tr>
    </tbody>
</table>
</div>

<div id="listTableDiv" th:fragment="commenttable (comments)">
<h2>댓글 목록</h2>
<div class="control-bar"><div></div>
<select id="pageLimitSelect" onchange="TableManager.updateLimitSize(this.value)" >
  <option value="0" selected="selected" disabled="disabled">=== 정렬 개수 선택 ===</option>
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="50">50</option>
  <option value="100">100</option>
</select>
</div>
<table border="1">
    <thead><th onclick="TableManager.updateSort(0)">댓글 번호</th><th onclick="TableManager.updateSort(1)">내용</th>
    	<th onclick="TableManager.updateSort(2)">작성일</th><th onclick="TableManager.updateSort(3)">수정일</th>
    	<th onclick="TableManager.updateSort(4)">부모 댓글 번호</th><th onclick="TableManager.updateSort(5)">게시글 번호</th>
    	<th onclick="TableManager.updateSort(6)">작성자 번호</th>
    	<th>삭제</th></thead>
    <tbody th:fragment="commenttbody (comments)">
	    <tr th:each="item: ${comments}">
	    	<td><a th:href="@{/note/read(id=${item.noteId})}" th:text="${item.id}"></a></td>
	    	<td th:text="${item.content}"></td>
	    	<td th:text="${#temporals.format(item.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
	    	<td th:text="${#temporals.format(item.lastModifiedDate, 'yy-MM-dd HH:mm:ss')}"></td>
	    	<td th:text="${item.commentId}"></td>
	    	<td th:text="${item.noteId}"></td>
	    	<td th:text="${item.commentAuthorId}"></td>
	       	<td>
	       		<form class="delete-form" action="/admin/comments/delete" method="post">
	       			<input type="hidden" name="id" th:value="${item.id}" />
			        <input type="hidden" name="params"/>
		        	<button type="button" class="delete-button">삭제</button>
	       		</form>
	       	</td>
	    </tr>
	<tr style="display:none;"><td><input id="totalPageCount" th:value="${totalPageCount}" hidden="hidden"></td></tr>
    </tbody>
</table>
</div>

<div id="listTableDiv" th:fragment="filetable (files)">
<h2>파일 목록</h2>
<div class="control-bar"><div></div>
<select id="pageLimitSelect" onchange="TableManager.updateLimitSize(this.value)" >
  <option value="0" selected="selected" disabled="disabled">=== 정렬 개수 선택 ===</option>
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="50">50</option>
  <option value="100">100</option>
</select>
</div>
<table border="1">
    <thead><th onclick="TableManager.updateSort(0)">파일 번호</th><th onclick="TableManager.updateSort(1)">파일 이름</th>
    	<th onclick="TableManager.updateSort(2)">파일 크기</th><th onclick="TableManager.updateSort(3)">노트 번호</th>
    	<th>삭제</th></thead>
    <tbody th:fragment="filetbody (files)">
	    <tr th:each="item: ${files}">
	    	<td><a th:href="@{/note/read(id=${item.note_id})}" th:text="${item.id}"></a></td>
	    	<td th:text="${item.filename}"></td>
	    	<td th:text="${item.files.length}+ bytes"></td>
	    	<td th:text="${item.note_id}"></td>
	       	<td>
	       		<form class="delete-form" action="/admin/files/delete" method="post">
	       			<input type="hidden" name="id" th:value="${item.id}" />
			        <input type="hidden" name="params"/>
		        	<button type="button" class="delete-button">삭제</button>
	       		</form>
	       	</td>
	    </tr>
	<tr style="display:none;"><td><input id="totalPageCount" th:value="${totalPageCount}" hidden="hidden"></td></tr>
    </tbody>
</table>
</div>
</body>
</html>