<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 등록</title>
</head>
<body>
<nav>
  <a href="/">홈</a>
  <a href="/board/list">게시판</a> |
  <a href="/upload/list">파일 업로드</a> |
  <a href="/login">로그인</a> |
  <a href="/register">회원가입</a> |
  <a href="/admin/users">관리자</a>
</nav>
<hr>

<h2>새 게시글 등록</h2>
  <form action="/file" method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <input type="hidden" name="note_id" value="1" /> <!-- value 부분 note_id 받아오기 -->
    <button type="submit">업로드</button>
  </form>

  <table border="1">
    <thead>
    <tr>
      <th>파일 번호</th>
      <th>파일 이름</th>
      <th>파일</th>
      <th>노트 번호</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
      <td th:text="${file.id}">파일 번호</td>
      <td><a th:href="@{/file/download(id=${file.id})}" th:text="${file.filename}">파일 이름</a></td>
      <td th:text="${#arrays.length(file.files)}">파일 크기</td>
      <td th:text="${file.note_id}">노트 번호</td>
    </tr>
    </tbody>
  </table>
</body>
</html>
