<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <nav>
        <a href="/">홈</a> 
        <a href="/board/list">게시판</a> |
        <a href="/upload/list">파일 업로드</a> |
        <a href="/login">로그인</a> |
        <a href="/register">회원가입</a> |
        <a href="/admin/users">관리자</a>
    </nav>
    <hr>
    
    <h2>로그인</h2>
    <form>
        <input type='text' placeholder='아이디'><br>
        <input type='password' placeholder='비밀번호'><br>
        <button type='submit'>로그인</button>
    </form>
    
</body>
</html>
