<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <nav>
        <a href="/">홈</a> 
        <a href="/board/list">게시판</a> |
        <a href="/upload/list">파일 업로드</a> |
        <a href="/login">로그인</a> |
        <a href="/register">회원가입</a> |
        <a href="/admin/users">관리자</a>
    </nav>
    <hr>
    
    <h2>회원가입</h2>
    <form action="/register" method="post">
        <input type='text' name='nickName' placeholder= '닉네임' required><br>
        <input type='password' password='password' placeholder='비밀번호' required><br>
        <input type='email' name='email' placeholder='이메일' required><br>
        <button type='submit'>가입하기</button>
    </form>
    
</body>
</html>
