<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>파일 업로드 게시판</title>
</head>
<body>
    <nav>
        <a href="/">홈</a> 
        <a href="/board/list">게시판</a> |
        <a href="/upload/list">파일 업로드</a> |
        <a href="/login">로그인</a> |
        <a href="/register">회원가입</a> |
        <a href="/admin/users">관리자</a>
    </nav>
    <hr>
    
    <h2>파일 업로드 게시판</h2>
    <a href="/upload/register">[파일 등록]</a>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>첨부파일</th>
        </tr>
        <td>
            <a th:href="@{/upload/read(id=${item.id})}"
               th:text="${title}">제목</a>
        </td>
        <td>
            <a th:href="@{/upload/download(file=${item.fileName})}"
               th:text="${content}">파일명</a>
        </td>
        </tr>
    </table>
    
</body>
</html>
