<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbs.demo.mapper.AdminMapper">
	<select id="findAllUserByPage" parameterType="com.bbs.demo.domain.Admin" resultType="com.bbs.demo.domain.Users">
		SELECT id, nickname, email, password,
		reg_date as regDate, last_access_date as lastAccessDate, user_grade as userGrade
		FROM users
		ORDER BY ${sortby} ${orderby}
		LIMIT #{offset}, #{limit}
	</select>
	<select id="findAllBoardByPage" parameterType="com.bbs.demo.domain.Admin" resultType="com.bbs.demo.domain.Boards">
		SELECT * FROM boards
		ORDER BY ${sortby} ${orderby}
		LIMIT #{offset}, #{limit}
	</select>
	<select id="findAllNoteByPage" parameterType="com.bbs.demo.domain.Admin" resultType="com.bbs.demo.domain.Notes">
		SELECT * FROM notes
		ORDER BY ${sortby} ${orderby}
		LIMIT #{offset}, #{limit}
	</select>
	<select id="findAllCommentByPage" parameterType="com.bbs.demo.domain.Admin" resultType="com.bbs.demo.domain.Comments">
		SELECT id, content, images, create_date as createDate,
		last_modified_date as lastModifiedDate,
		comment_id as parentCommentId, note_id as noteId, comment_author_id as commentAuthorId
		FROM comments
		ORDER BY ${sortby} ${orderby}
		LIMIT #{offset}, #{limit}
	</select>
</mapper>