<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbs.demo.mapper.FileMapper">
    <insert id="insertFile" parameterType="com.bbs.demo.domain.Files">
        INSERT INTO files (note_id, fileName, files)
        VALUES (#{note_id}, #{fileName}, #{files})
    </insert>

    <select id="findAllFilesByNoteId" resultType="com.bbs.demo.domain.Files" parameterType="int">
        SELECT id, note_id, fileName, files
        FROM files
        WHERE note_id = #{note_id}
    </select>

    <select id="findFileById" resultType="com.bbs.demo.domain.Files" parameterType="int">
        SELECT id, note_id, fileName, files
        FROM files
        WHERE id = #{id}
    </select>
</mapper>