<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbs.demo.mapper.LoginMemberMapper">

    <!-- 이메일로 사용자 조회 -->
    <select id="findbyEmail" parameterType="String" resultType="com.bbs.demo.domain.Users">
        SELECT id, nickname, email, password, reg_date as regDate, last_access_date as lastAccessDate, user_grade as userGrade FROM users WHERE email = #{email}
    </select>

    <!-- 회원 정보 저장 -->
    <insert id="insert" parameterType="com.bbs.demo.domain.Users">
        INSERT INTO users (nickname, email, password, user_grade)
        VALUES (#{nickName}, #{email}, #{password}, 1)
    </insert>
    
    <!-- 🔧 사용자 ID를 기반으로 users 테이블에서 해당 사용자의 정보를 조회하는 쿼리 -->
	<select id="findById" parameterType="int" resultType="com.bbs.demo.domain.Users">
	    SELECT * FROM users WHERE id = #{id}
	</select>
        
    <update id="lastLogin" parameterType="int">
		UPDATE users
			SET last_access_date = now()
			WHERE id = #{id};
    </update>

</mapper>
